{% extends 'base.html' %}
{% load staticfiles %}

{% block h1 %}
    Lista de amigos secretos inscritos
{% endblock h1 %}
{% block container %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Horario</th>
                <th>Nombre</th>
            </tr>
            </thead>
            {% for friends in friends_list %}
                <tbody>
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ friends.person | upper}}</td>
                </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>
{% endblock container %}